.login {
  form {
    .or {
      text-align: center;
      font-size: 1.7rem;
    }
    .btn_google {
      width: 100%;
      height: 4rem;
      display: flex;
      align-items: center;
      justify-content: center;
      color: var(--text);
      font-size: 1.6rem;
      padding: 0 1rem;
      margin-top: 0.6rem;
      background-color: var(--bgLight);
      border-radius: 1rem;
      background-color: coral;
      cursor: pointer;
    }
    .animate {
      animation: animate 200ms linear 1;
    }
    .to_register {
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      span {
        color: var(--text);
        font-size: 1.3rem;
        margin-right: 0.8rem;
      }
      &:last-child {
        margin-bottom: 3rem;
      }
    }
  }
}

@keyframes animate {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}
