.create_post {
    width: 100%;
    padding: 1.5rem;
    background-color: var(--bgDark);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    .top {
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--border);
      padding: 0.5rem 0;
      gap: 2rem;
      img {
        width: 4.5rem;
        height: 4.5rem;
        border-radius: 50%;
        object-fit: cover;
      }
      .whats_new {
        flex: 1;
        font-size: 1.8rem;
        background-color: var(--bgLight);
        border-radius: 1rem;
        padding: 0.8rem 0.5rem;
        color: var(--textSoft);
        cursor: pointer;
        &:hover {
          background-color: var(--bgLighter);
        }
      }
    }
    .bottom {
      display: flex;
      align-items: center;
      gap: 2rem;
      margin-top: 1rem;
      .upload_option {
        flex: 1;
        height: 4rem;
        font-size: 1.6rem;
        color: var(--textSoft);
        background-color: var(--bgLight);
        border-radius: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;
        cursor: pointer;
        .icon {
          font-size: 3rem;
        }
        &:hover {
          background-color: var(--bgLighter);
        }
      }
    }
  }
  