.change_password {
  .code_icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    display: grid;
    place-items: center;
    align-self: center;
    color: var(--success);
    font-size: 8rem;
  }
  .resend {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 1.3rem;
    text-transform: capitalize;
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      color: var(--btnLight);
    }
  }
  .or {
    font-size: 1.6rem;
    text-align: center;
  }
  .back {
    display: inline-block;
    align-self: center;
    font-size: 1.4rem;
    margin: 0.3rem 0;
    background-color: var(--bg);
    padding: 0.6rem 2rem;
    border-radius: 1rem;
    cursor: pointer;
    .icon {
      font-size: 2rem;
      margin-right: 1rem;
    }
  }
}
