.photos {
  background-color: var(--bgDark);
  border-radius: 1rem;
  padding: 1rem;
  color: var(--text);
  .body {
    display: flex;
    flex-direction: column;
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      h3 {
        font-size: 2.3rem;
      }
      button {
        font-size: 1.6rem;
        padding: 0.7rem 1rem;
        border-radius: 0.6rem;
        color: var(--btnLight);
        cursor: pointer;
        &:hover {
          background-color: var(--bgLight);
        }
      }
    }
    .filter_options {
      display: inline-flex;
      margin: 1rem 0;
      gap: 2rem;
      height: 5rem;
      align-items: center;
      .filter {
        height: 4.5rem;
        font-size: 1.6rem;
        border-radius: 0.5rem;
        display: grid;
        place-items: center;
        padding: 0 1rem;
        position: relative;
        cursor: pointer;
        &:hover {
          background-color: var(--bgLight);
        }
      }
      .active {
        &::after {
          content: "";
          position: absolute;
          height: 0.25rem;
          width: 100%;
          background-color: var(--btnLight);
          bottom: 0;
        }
      }
    }
    .photos_div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .img {
        width: 16rem;
        height: 16rem;
        margin: 0.8rem 0;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
        }
        .actions {
          position: absolute;
          top: 0.3rem;
          right: 0.3rem;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          background-color: rgba(0, 0, 0, 0.6);
          display: grid;
          place-items: center;
          .icon {
            font-size: 2.6rem;
            color: var(--text);
          }
        }
        &:hover {
          img {
            border: 1px solid var(--bgLighter);
            padding: 0.1rem;
          }
        }
      }
    }
  }
}
