.commerce {
  font-size: 3rem;
  background-color: var(--bgDark);
  border-radius: 0.8rem;
  padding: 1rem;
  color: var(--text);
  .body {
    display: flex;
    flex-direction: column;
    .head {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 0.5rem;
      h3 {
        font-size: 2.3rem;
      }

      button {
        font-size: 1.6rem;
        padding: 0.7rem 1rem;
        border-radius: 0.5rem;
        color: var(--btnLight);
        cursor: pointer;
        &:hover {
          background-color: var(--bgLight);
        }
      }
    }
    .products {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      .img {
        width: 16rem;
        height: 16rem;
        margin: 0.8rem 0;
        cursor: pointer;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
        }
        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 0.5rem;
        }
        .actions {
          position: absolute;
          top: 0.3rem;
          right: 0.3rem;
          border-radius: 50%;
          width: 3rem;
          height: 3rem;
          background-color: rgba(0, 0, 0, 0.6);
          display: grid;
          place-items: center;
          .icon {
            font-size: 2.6rem;
            color: var(--text);
          }
        }
        &:hover {
          img {
            border: 1px solid var(--bgLighter);
            padding: 0.1rem;
          }
        }
      }
    }
  }
}
