.default {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
    font-size: 3rem;
  color: var(--text);
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30rem;
    color: var(--bgChat);
  }
}
