.overview {
  height: auto;
  width: 90%;
  margin: 0 auto;
  position: relative;
  .body {
    width: 100%;
    height: auto;
    margin: 2rem 0;
    background-color: var(--bgDark);
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    h1 {
      color: var(--textSoft);
      font-weight: 500;
      font-size: 2rem;
    }
    span {
      color: var(--bgLighter);
      font-weight: 100;
      font-size: 1.6rem;
    }
    .card {
      min-width: 30rem;
      width: 48%;
      height: auto;
      display: flex;
      align-items: center;
      border-radius: 0.5rem;
      padding: 0.4rem 1rem;
      gap: 1rem;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        background-color: var(--bgLight);
      }
      .icon_ {
        .icon {
          font-size: 4rem;
          color: var(--error);
        }
        .small_icon {
          font-size: 3rem;
          color: var(--btnLight);
        }
      }
      .text {
        display: flex;
        flex-direction: column;
        margin-right: auto;
        span {
          color: var(--text);
          font-size: 1.8rem;
        }
        small {
          font-size: 1.2rem;
          color: var(--textSoft);
        }
      }
      .count {
        // margin-left: auto;
        span {
          font-size: 2rem;
          color: var(--textSoft);
        }
      }
    }
    .flex {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      flex-wrap: wrap;
      padding: 1rem 0;
    }
    .sections {
      width: 50%;
      background-color: var(--bgDark);
      border-radius: 1rem;
      height: auto;
      padding: 1.5rem;

      .insight_card {
        width: 100%;
        height: 8rem;
        background-color: var(--bgLight);
        padding: 0 1rem;
        margin: 1rem auto;
        cursor: default;
        .small_icon {
          transform: rotate(-45deg);
          font-size: 2.5rem;
        }
      }
    }
  }
  .charts_full {
    background-color: var(--bgDark);
    height: auto;
    color: var(--text);
    padding: 1rem;
    border-radius: 1rem;
    margin: 2rem 0;
    h1 {
      font-size: 2rem;
      font-weight: 500;
    }
    small {
      font-size: 1.2rem;
      color: var(--textSoft);
    }
    .chart_div {
      // height: 50vh;
      margin: 1rem 0;
      // border: 1px solid red;
    }
  }
  .insight_count {
    height: auto;
    color: var(--text);
    border-radius: 1rem;
    margin: 2rem 0;
    display: flex;
    gap: 2rem;
    .counts_div {
      background-color: var(--bgDark);
      display: flex;
      flex-direction: column;
      margin: 1rem 0;
      padding: 1rem;
      flex: 1;
      border-radius: 1rem;
      h1 {
        font-size: 2rem;
        font-weight: 500;
      }
      small {
        font-size: 1.2rem;
        margin-top: 0.1rem;
        color: var(--textSoft);
      }
      .counts_wrapper {
        display: flex;
        gap: 2rem;
        margin-top: 1rem;
        .count {
          flex: 1;
          height: auto;
          display: flex;
          flex-direction: column;
          background-color: var(--bg);
          border-radius: 1rem;
          padding: 0.5rem 1rem;
          b {
            font-size: 2.1rem;
            font-weight: 100;
            color: var(--textSoft);
          }
          span {
            font-size: 5rem;
            color: var(--bgLighter);
            font-weight: 100;
          }
        }
      }
    }
  }
  .demo_message {
    position: absolute;
    top: 0rem;
    right: 0rem;
    width: 100%;
    height: 85vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7));
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    .wrapper {
      width: fit-content;
      height: fit-content;
      padding: 0.5rem;
      background-color: var(--bgLight);
      border-radius: 0.3rem;
      overflow: hidden;
      animation: grow 500ms linear 1;
      .close {
        width: fit-content;
        cursor: pointer;
        margin-left: auto;
        margin-bottom: 0.2rem;
        .icon {
          font-size: 3rem;
          color: var(--error);
        }
      }
      p {
        font-size: 1.4rem;
        color: var(--text);
        text-align: center;
      }
    }
  }
}

@keyframes grow {
  0% {
    width: 0;
    height: 0;
  }
}
