.suggestions {
  width: 100%;
  height: auto;
  .groups_ {
    .top {
      margin: 1rem;
      display: flex;
      justify-content: space-between;
      .left {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        span {
          font-size: 2rem;
          font-weight: 500;
          color: var(--text);
        }
        p {
          font-size: 1.6rem;
          color: var(--textSoft);
        }
      }
      .right {
        flex: 1;
        height: 4rem;
        .search_box {
          width: 90%;
          margin: 0 auto;
          height: 90%;
          border-radius: 10rem;
          border: 1px solid var(--border);
          display: flex;
          align-items: center;
          .icon_ {
            width: 4rem;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .icon{
              font-size: 3rem;
              color: var(--text);
            }
            &::after{
              position: absolute;
              content: '';
              right: 0;
              width: 0.2rem;
              height: 1.7rem;
              background-color: var(--textSoft);
            }
          }
          input {
            flex: 1;
            height: 100%;
            padding: 0.4rem 1rem;
            font-size: 1.4rem;
            color: var(--text);
          }
        }
      }
    }
    .group_lists {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      .card {
        margin: 1rem;
        width: 260px;
      }
    }
    &:nth-child(1) {
      border-bottom: 1px solid var(--bgLight);
      padding-bottom: 1rem;
      margin-bottom: 2rem;
    }
  }
}
