.message {
  width: 40%;
  height: auto;
  display: flex;
  align-items: flex-end;
  margin: 1.5rem 1rem;
  gap: 1rem;
  position: relative;
  .img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    margin-bottom: 0.2rem;
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .new_message {
    width: auto calc(100% - 4rem);
    height: auto;
    border-radius: 1rem 1rem 1rem 0;
    background-color: var(--bgChat);
    position: relative;
    word-wrap: break-word;
    .name {
      font-size: 1.3rem;
      text-transform: capitalize;
      font-weight: 500;
      border-bottom: 1px solid var(--btn);
      color: var(--bgDark);
      overflow: hidden;
      display: flex;
      justify-content: flex-end;
      border-bottom: 1px solid var(--bgDark);
      padding: 0 1rem;
    }
    p {
      font-size: 1.5rem;
      color: var(--text);
      padding: 1rem;
    }
    .till {
      position: absolute;
      width: 1rem;
      height: 0.6rem;
      background-color: var(--bgChat);
      bottom: 0rem;
      left: -0.5rem;
      border-radius: 0rem 0rem 0rem 1rem;
    }
  }
  .time {
    position: absolute;
    left: 1.5rem;
    bottom: -1.4rem;
    font-size: 1.2rem;
  }
}
.own {
  align-self: flex-end;
  flex-direction: row-reverse;
  position: relative;
  .own_time {
    position: absolute;
    right: 1.5rem;
    bottom: -1.4rem;
    font-size: 1.2rem;
  }
  .own_newmessage {
    border-radius: 1rem 1rem 0rem 1rem;
    position: relative;
    .own_till {
      position: absolute;
      width: 1rem;
      height: 0.6rem;
      background-color: var(--bgChat);
      bottom: 0rem;
      right: -0.5rem;
      border-radius: 0rem 0rem 1rem 0rem;
    }
  }
}
