.desc {
  margin-top: 1rem;
  p {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--textSoft);
    line-height: 1.9rem;
  }
// }
.desc_p {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
}
.more_less {
  font-size: 1.6rem;
  font-weight: 500;
  margin: 0.5rem 0;
  color: var(--btn);
  cursor: pointer;
}
