.category {
  margin-top: 0.3rem;
  .body {
    border: 1px solid green;
    margin: 5rem 0;
    height: 100rem;
    h1 {
      font-size: 3rem;
      color: var(--text);
      font-weight: 200;
    }
  }
}
