.edit_profile_modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.7);
  overflow-y: scroll;
  z-index: 100;
  .body {
    margin: 6rem 0;
    width: 70rem;
    height: max-content;
    background-color: var(--bgDark);
    position: relative;
    border: 1px solid var(--border);
    border-radius: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    .close {
      position: absolute;
      right: 1rem;
      top: 0.7rem;
      border-radius: 50%;
      background-color: var(--bgLight);
      padding: 0.5rem;
      cursor: pointer;
      .icon {
        font-size: 3rem;
        color: var(--text);
      }
      &:hover {
        background-color: var(--bgLighter);
      }
    }
    .head {
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.3rem;
      font-weight: 500;
      color: var(--textsoft);
      border-bottom: 1px solid var(--border);
      color: var(--textSoft);
    }
    .update_sections {
      display: flex;
      flex-direction: column;
      padding: 0 1rem;
      .update_options {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--textSoft);
        margin-bottom: 1rem;
        span {
          font-size: 2rem;
          font-weight: 500;
        }
        .edit {
          font-size: 1.8rem;
          color: var(--btnLight);
          padding: 0.5rem;
          border-radius: 0.5rem;
          cursor: pointer;
          &:hover {
            background-color: var(--bgLight);
          }
        }
      }
      button {
        width: fit-content;
        height: 3.5rem;
        display: flex;
        align-items: center;
        padding: 0.3rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--btn);
        align-self: center;
        font-size: 1.5rem;
        margin-top: 1rem;
        font-weight: bold;
        &:hover {
          background-color: var(--btnLight);
        }
      }
    }
    .profile_section {
      padding: 1rem;
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 18rem;
          height: 18rem;
          border-radius: 50%;
          object-fit: cover;
        }
      }
    }
    .cover_section {
      padding: 1rem;
      .img {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 80%;
          height: 20rem;
          border-radius: 1rem;
          object-fit: cover;
        }
      }
    }
    .bio_section {
      .bio {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 5rem;
        font-size: 1.8rem;
        color: var(--bgLighter);
      }
      .bio_inputs {
        height: auto;
        margin-bottom: 1rem;
        textarea {
          width: 40%;
          height: 7rem;
          background-color: transparent;
          resize: none;
          color: var(--textSoft);
          font-size: 1.6rem;
          outline: none;
          border-radius: 1rem;
          padding: 1rem;
          border: 1px solid var(--btn);
        }
        .btns {
          display: flex;
          gap: 1rem;
          button {
            background-color: var(--bgLight);
            &:hover {
              background-color: var(--bgLighter);
            }
          }
        }
      }
    }
  }
}
