html,
body {
  background-color: var(--bg);
  font-family: var(--fontS);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

button {
  border: none;
  background-color: transparent;
  color: var(--textSoft);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  background-color: transparent;
  outline: none;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
.icon {
  display: flex;
  align-items: center;
  font-size: 5rem;
  cursor: pointer;
}
.link {
  color: var(--btnLight);
  text-decoration: none;
  font-size: 1.5rem;
}

.toaster {
  font-size: 6rem;
  right: 1rem;
}

@media screen and (max-width: 1200px) {
  .container {
    width: 95%;
  }
}
