@import url("https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Maven+Pro:wght@400;500;700;800&family=Nunito:wght@400;700&display=swap");
:root {
  --bgPrimary: #080b0d;
  --bgSecondary: #172126;
  --bgLight: #2f3940;
  --bgLighter: #5f6b73;
  --error: #cf6679;
  --text: #fff;
  --textSoft: rgba(255, 255, 255, 0.836);
  --border: #5F6B73;
  --btnG: #008c72;
  --btnGh: #02a676;
  --btnB: #00939c;
  --btnBh: #10abb4;
  --fontP: "Abyssinica SIL", serif;
  --fontS: "Maven Pro", sans-serif;
}
