.add_notes {
  .form {
    padding: 0 1.5rem;
    padding-bottom: 1rem;
    input,
    textarea {
      width: 100%;
      border-radius: 0.5rem;
      color: var(--text);
      font-size: 1.5rem;
      margin: 1rem 0;
      background-color: transparent;
      border: 1px solid var(--border);
      padding: 1rem;
      resize: none;
    }
    .btns {
      display: flex;
      justify-content: flex-end;
      gap: 1.5rem;
      button {
        font-size: 1.5rem;
        padding: 0.8rem 1rem;
        background-color: var(--btn);
        border-radius: 0.5rem;
        &:hover {
          background-color: var(--btnLight);
        }
        &:first-child {
          background-color: transparent;
          color: var(--btnLight);
        }
        &:first-child:hover {
          background-color: var(--bgLight);
        }
      }
      .disable_btn {
        cursor: not-allowed;
        background-color: var(--bgLight);
        &:hover {
          background-color: var(--bgLight);
        }
      }
    }
  }
}
